

  #header{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-align: right;
    color: white;
     width: 1400px;
    background-image: url('https://i.ibb.co/3rmQD2z/main-IMG-5056-718x404.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    height: 520px;

  }

  @media only screen and (max-width: 800px) {


    #header{
      font-family: 'Amatic SC', cursive;
      font-size: 25px;
      text-align: right;
      color: white;
       width: 800px;
      background-image: url('https://i.ibb.co/3rmQD2z/main-IMG-5056-718x404.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 70px;
      height: 400px;
      
  
    }
  h2{
    display: flex;
    width: 600px;
    float: right;
  }

  }