




#navbar{ 
  display: flex;
  flex-direction: row;
  position: fixed; 
  
  background-color:  white;
  white-space: nowrap;
  z-index: 1;
 width: 1400px;
  
  justify-content: space-evenly; 
  list-style: none;  
  white-space: nowrap;
  height:60px;
  text-align: center; 
  padding: 8px;
}

.group{
  
  background-image: url('https://i.ibb.co/xFympg5/bananaleaf.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  width: 265px;
}

a{ 
    flex-basis: auto;
    
    font-family: 'Kalam', cursive ;
    font-size: 30px;
    color: red;
    
  
}

@media only screen and (max-width: 800px) {
  
#navbar{ 
  display: flex;
  flex-direction: column;
  position: fixed; 
  z-index: 1;
  width: 200px;
  
  justify-content: space-evenly; 
  height: 480px;
  text-align: left;
}

#imglogo{
  display:none;
}

.group{
  display: hidden;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  width: 265px;
}

a{ 
    flex-basis: auto;
    
    font-family: 'Kalam', cursive ;
    font-size: 30px;
    color: red;
    
  
}


  }


 
