.holds{
    display: inline-block;
    height: auto;
    
}

#body{
    width: 1400px;
}

.title{ 
   
   text-align: center;
    height: 50px;
    width: auto;
    font-family: "Amatic SC", cursive;
    color: red;
    font-size: 55px;
}

#MainDish{
    height: 500px;
}


.Dish{

    float: right;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 220px;

    padding: 20px ;
     
    
}

.Dish-information {
    height:autp;
    width: 255px;
    font-family: "Amatic SC", cursive;
    color: red;
    text-align: center;

}

#ImgFood{
    border-radius: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 250px;
}

.minHead{
    font-size: 25px;
    font-family: "Amatic SC", cursive;
    color: red;
    text-align: center;
}



.box{
 display: inline-flex;
 width: 350px;
 
}

@media only screen and (max-width: 800px) {
   
    .holds{
        display: inline-block;
        height: auto;
        
    }
    
    #body{
        float: right;
        width: 600px;
    }
    
    .title{ 
       
       text-align: right;
        height: 120px;
        width: 600px;
        font-family: "Amatic SC", cursive;
        color: red;
        font-size: 45px;
    }
    
    #MainDish{
        height: 500px;
    }
    
    
    .Dish{
    
        float: right;
        align-content: center;
        justify-content: center;
        height: auto;
        width: 55px;
        
        padding: 5px ;
         
        
    }
    
    .Dish-information {
        
        height: auto;
        width: 45px;
        font-family: "Amatic SC", cursive;
        color: red;
        text-align: center;
    
    }
    
    #ImgFood{
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 250px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    p{
        font-size: 25px;
    }
    
    .box{
     display: inline-flex;
     overflow: visible;
     width: 300px;
     
    }
  
}